:root {
  --primary-color: #9e1b32;
  --secondary-color: #e694a3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
}
header {
  justify-content: space-between;
  background-color: var(--primary-color);
  font-family: Georgia, "Times New Roman", Times, serif;
  position: sticky;
  top: 0;
  border-radius: 0 0 15% 15%;
}

header span {
  width: auto;
  color: gray;
  font-style: italic;
  text-align: center;
  margin: 15px 0 0 10px;
}

header h1 {
  display: flex;
  font-size: 3vw;
  margin: 5px 0px 0px 5px;
  color: white;
}

header h1 a {
  display: flex;
  text-decoration: none;
  color: white;
}

header h1 a:hover {
  color: gray;
  font-size: 3.1vw;
  text-shadow: 0 0 10px black;
}

header nav ul li a {
  display: flex;
  text-decoration: none;
  color: white;
}

.contents {
  text-align: end;
  display: flex;
  justify-content: space-around;
  margin: 15px;
  list-style: none;
  border-radius: 15px;
  font-size: 2vw;
  padding: 15px;
}

header nav ul li a:hover {
  color: gray;
  font-size: 2.1vw;
  text-shadow: 0 0 10px black;
}

.hero {
  background-image: url("../images/16886.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}

.about-me {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  color: white;
  padding: 50px 0 20px 0;
  border-bottom: var(--primary-color);
}

.about-me h2 {
  text-align: center;
  width: 600px;
  font-size: 4vw;
  color: var(--primary-color);
}

.about-me img {
  border-radius: 50%;
  margin: 0 20px 20px 0;
  box-shadow: 0 0 20px var(--primary-color);
  object-fit: contain;
  background-color: white;
}

.about-box {
  width: 50%;
  margin: 20px 0;
}

.work {
  background-color: gray;
  border-top: 5px solid var(--primary-color);
}

.work h2 {
  color: var(--primary-color);
  font-size: 4vw;
  text-align: center;
  padding: 15px;
  vertical-align: auto;
}

.big-co {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-co img {
  border-radius: 15px;
  width: 60vw;
  text-align: center;
}

.small-co {
  display: flex;
  justify-content: space-around;
  height: 10vw;
  margin: 50px;
}

.small-co img {
  border-radius: 15px;
  height: 7vw;
}

.work img:hover {
  box-shadow: 0 0 10px var(--primary-color);
}

footer {
  color: white;
  text-align: right;
  margin-right: 15px;
}

footer a {
  color: white;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .about-me {
    display: inline-block;
    border: none;
  }

  .about-me h2 {
    width: auto;
  }

  .about-box {
    width: auto;
    padding: 0 10px 0 10px;
  }

  .about-me img {
    display: block;
    margin: 0 auto 0 auto;
    width: 50%;
  }

  .big-co {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: left;
  }
}

/* Media query for cell phones */

@media screen and (max-width: 575px) {
  header h1 {
    font-size: 10vw;
    display: flex;
    flex-wrap: wrap;
  }

  header span {
    font-size: 8vw;
  }

  header nav ul li a {
    display: flex;
    justify-content: space-between;
    font-size: 3.5vw;
  }

  header nav ul li a:hover {
    font-size: 3.5vw;
  }

  .hero {
    background-image: url("../images/16886-small.jpg");
  }

  .about-me h2 {
    font-size: 10vw;
  }

  .work {
    height: 100vw;
  }

  .work h2 {
    font-size: 10vw;
  }

  .big-co {
    margin: 0 0 -50px 0;
  }

  .big-co img {
    width: 75vw;
  }

  .small-co {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .small-co img {
    height: 18vw;
  }
}
