:root {
  --primary-color: #9e1b32;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
}
header {
  justify-content: space-between;
  background-color: var(--primary-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

header span {
  width: auto;
  color: gray;
  font-style: italic;
  /* text-align: center; */
  margin: 10px 0 0 0;
}
header h1 {
  display: flex;
  font-size: 3vw;
  margin: 5px 0px 0px 5px;
  color: white;
}

header a {
  display: flex;
  text-decoration: none;
  color: white;
}

.contents {
  text-align: end;
  display: flex;
  justify-content: space-around;
  margin: 15px;
  list-style: none;
  border-radius: 15px;
  font-size: 2vw;
  padding: 15px;
}

header a:hover {
  color: gray;
}

.hero {
  background-image: url("../images/16886.jpg");
  background-size: cover;
  background-position: center;
  background-position: 80%;
  height: 600px;
}

.about-me {
  display: flex;
  justify-content: space-between;
  background-color: #e694a3;
  color: var(--primary-color);
  padding: 50px 0 0 0;
}

.about-me h2 {
  text-align: center;
  width: 600px;
  font-size: 4vw;
}

.about-me img {
  border-radius: 50%;
  size: ;
}

.about-box {
  width: 50%;
}
